# Database Configuration
DB_NAME=beautyshop
DB_USERNAME=root
DB_PASSWORD=Sql@123456

# JWT Secret (Min 256 bits)
JWT_SECRET=beautyshop_jwt_secret_key_must_be_at_least_256_bits_long_1234567890!

# Kafka Host (Dùng IP của VPS/Ubuntu Server nếu muốn kết nối từ bên ngoài, mặc định localhost)
KAFKA_HOST=localhost
